################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SaleSampleAPI/Models/dClass.cs

/SaleSampleAPI/bin/*
/.vs
.vs/*
